<!DOCTYPE html>
<html>
<head>
	<title>SIGNUP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
		<link rel="stylesheet" href="./css/style.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Acme&family=Anton&family=Josefin+Sans:wght@300&family=Kanit:wght@300&family=Roboto+Mono:ital,wght@1,300&family=Shippori+Antique&display=swap" rel="stylesheet">

	
	<script type="text/javascript">
	
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Registered!!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
<body>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>CREATE ACCOUNT</p>
		</div>
			<form id="form1" method="post">
				<div class="mb-3">
				<label for="exampleInputUserName1" class="form-label">UserName</label>
				<input type="text" name="username" required="" class="form-control"><br/>
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Email Address</label>
					<input type="email" name="email"  id="exampleInputEmail1" required="" class="form-control"><br/>
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" name="password" required="" class="form-control"><br/>
				</div>				  
				<input type="submit" value="Sign Up" class="btn btn-primary">

			</form>
			<div class="mssg bg-danger">
				<span id="check"></span>
			</div>
			<div>
				<br>		
				<a href="/login">Sign in instead</a>
			</div>
			<div id="LangTable"><a href="/login" id="aa"></a>
			</div>
		</div>
</body>
</html>