<h1>WELCOME {{user.userName}} !! </h1>

<p>Your Email ID: {{user.email}}</p>
<img src="https://image.freepik.com/free-vector/well-done-typography-style-vector_53876-57100.jpg" alt="img">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Shippori+Antique+B1&display=swap" rel="stylesheet"><style>

   body {
 background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Shippori Antique B1', sans-serif;
  text-align: center;
  }
  img{
      display: flex; 
justify-content: center; 
margin: 0 auto;
border-radius: 50%;  }
